html
{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body
{
    margin:0;
}
.blog-menu
{
    background-image:url(../media/white_wall.png);
}
.blog-article1
{
    background-image:url(../blog/media/school.png);
}
.container hr
{
    height: 1px;
    background-color: gainsboro;
}
b,i,strong,em,blockquote,p,q,span,figure,img,h1,h2,header,input,a
{
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
h1,h2,h3,h4,h5,h6
{
    font-family:"PT Sans Narrow",sans-serif;
    font-weight: bold;
}
h1
{
    font-size:32px;
    line-height:0.8125;
    margin-bottom:26px;
}
h2
{
    font-size:28px;
    line-height:0.9286;
    margin-bottom:26px;
}
h3
{
    font-size:24px;
    line-height:1.0833;
    margin-bottom:26px;
}
h4
{
    font-size:18px;
    line-height:1.4444;
    margin-bottom:26px;
}
h5
{
    font-size:16px;
    line-height:1.625;
    margin-bottom:26px;
}
h6
{
    font-size:14px;
    line-height:1.8571;
    margin-bottom:26px;
}
a
{
    text-decoration:none;
    color:#343434;
}
a:visited
{
    color:#4e4e4e;
}
a:hover
{
    text-decoration:none;
    color:#1a1a1a;
}
a:focus
{
    outline:thin dotted;
    color:#343434;
}
a:hover,a:active
{
    outline:0;
}
p
{
    font-family: "PT Serif", serif;
    font-size: 16px;
}

.ripple
{
    position: absolute;
    opacity: 1;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, .35);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: ripple;
    animation-name: ripple;
}

@-webkit-keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(165);
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(165);
    }
}

nav div div ul li
{
    overflow: hidden;
}